<h1>{{ formTitle }}</h1>

<p>{{ formDescription }}</p>


<p class="comando1">Digite seu email Corporativo (@flex): </p>
<div class="input-group mb-3">
  <input type="text" [(ngModel)]="email" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@flex.com</span>
</div>

<p *ngIf= "email">{{ email }}@flex.com</p>

<button type="button" class="btn btn-primary" (click)="adicionarEmail()">adicionar Email</button>

<div *ngIf="emailsLocal.length">
  <p>Lista de contatos</p>
  <ul>
    <li *ngFor="let item of emailsLocal">{{item}}</li>
  </ul>
</div>